@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-gray-200 text-slate-700;
}

body {
  overflow-x: hidden;
}

#__next {
  position: relative;
}

.dark {
  @apply antialiased text-slate-200 bg-slate-900;
  color-scheme: dark;
}

.padding {
  background-image: linear-gradient(
    45deg,
    #8d9ffc 10%,
    transparent 0,
    transparent 50%,
    #8d9ffc 0,
    #8d9ffc 60%,
    transparent 0,
    transparent
  );
  background-size: 12px 12px;
}
.dark .padding {
  background-image: linear-gradient(
    45deg,
    #362f94 10%,
    transparent 0,
    transparent 50%,
    #362f94 0,
    #362f94 60%,
    transparent 0,
    transparent
  );
  background-size: 12px 12px;
}

.striped {
  background-image: linear-gradient(
    45deg,
    #95a7ff30 10%,
    transparent 0,
    transparent 50%,
    #95a7ff30 0,
    #95a7ff30 60%,
    transparent 0,
    transparent
  );
  background-size: 12px 12px;
}
.dark .striped {
  background-image: linear-gradient(
    45deg,
    #5659ef20 10%,
    transparent 0,
    transparent 50%,
    #5659ef20 0,
    #5659ef20 60%,
    transparent 0,
    transparent
  );
  background-size: 12px 12px;
}

.striped-div {
  @apply border-[#e4e9ff];
  background-image: linear-gradient(
    45deg,
    #95a7ff30 10%,
    #95a7ff10 0,
    #95a7ff10 50%,
    #95a7ff30 0,
    #95a7ff30 60%,
    #95a7ff10 0,
    #95a7ff10
  );
  background-size: 12px 12px;
}
.dark .striped-div {
  @apply border-[#2c3665];
  background-image: linear-gradient(
    45deg,
    #5659ef40 10%,
    #7779e910 0,
    #7779e910 50%,
    #5659ef40 0,
    #5659ef40 60%,
    #7779e910 0,
    #7779e910
  );
  background-size: 12px 12px;
}

.title-description {
  direction: rtl;
}

/* remove spin button on select */
.placement-input::-webkit-inner-spin-button,
.placement-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='range'] {
  @apply h-2 bg-transparent appearance-none cursor-ew-resize;
}

/***** Chromium styles *****/
input[type='range']::-webkit-slider-runnable-track {
  @apply h-1 bg-gray-100 rounded-md dark:bg-slate-700 ring-1 ring-gray-600/10 dark:ring-gray-100/10;
}

input[type='range']::-webkit-slider-thumb {
  @apply relative w-4 h-4 bg-indigo-700 rounded-full shadow-sm appearance-none -top-1.5 dark:bg-indigo-300 hover:bg-indigo-600 dark:hover:bg-indigo-200 active:scale-125 transition-transform duration-75;
}

/******** Firefox styles ********/
input[type='range']::-moz-range-track {
  @apply h-1 bg-gray-100 rounded-md dark:bg-slate-700 ring-1 ring-gray-600/10 dark:ring-gray-100/10;
}

input[type='range']::-moz-range-thumb {
  @apply relative w-4 h-4 bg-indigo-700 rounded-full shadow-sm appearance-none -top-1.5 dark:bg-indigo-300 hover:bg-indigo-600 dark:hover:bg-indigo-200 active:scale-125 transition-transform duration-75;
}
