@tailwind base;
@tailwind components;
@tailwind utilities;

/* .dark {
  color-scheme: dark;
} */

html {
  @apply text-slate-700 bg-gradient-to-tl from-stone-200 via-stone-100 to-stone-100;
  @apply antialiased;
}

.dark {
  @apply bg-gradient-to-bl from-slate-800 via-slate-900 to-slate-900 text-stone-200;
  color-scheme: dark;
}

.padding {
  background: repeating-linear-gradient(
    45deg,
    #a5b4fc,
    #a5b4fc 10px,
    #9dabf5 10px,
    #9dabf5 20px
  );
}

.dark .padding {
  background: repeating-linear-gradient(
    45deg,
    #4f46e5,
    #4f46e5 10px,
    #453de3 10px,
    #453de3 20px
  );
}

.description {
  direction: rtl;
}

.description.collapsed {
}

input[type='range'] {
  @apply h-2 bg-transparent appearance-none cursor-ew-resize;
}

/***** Chromium styles *****/
input[type='range']::-webkit-slider-runnable-track {
  @apply h-2 rounded-md bg-stone-100 dark:bg-slate-700;
}

input[type='range']::-webkit-slider-thumb {
  @apply relative w-4 h-4 bg-indigo-700 rounded-full shadow-sm appearance-none -top-1 dark:bg-indigo-300;
}

/******** Firefox styles ********/
input[type='range']::-moz-range-track {
  @apply h-2 rounded-md bg-slate-100 dark:bg-slate-700;
}

input[type='range']::-moz-range-thumb {
  @apply relative w-4 h-4 bg-indigo-700 rounded-full appearance-none -top-1 dark:bg-indigo-300;
}
