@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-slate-700 bg-gradient-to-tl from-stone-200 via-stone-100 to-stone-100;
}

.dark {
  @apply bg-gradient-to-bl from-slate-800 via-slate-900 to-slate-900 text-stone-200;
  color-scheme: dark;
  @apply antialiased;
}

.padding {
  background: repeating-linear-gradient(
    45deg,
    #95a7ff,
    #95a7ff 5px,
    #a5b4fc 5px,
    #a5b4fc 13px
  );
}

.dark .padding {
  background: repeating-linear-gradient(
    45deg,
    #5659ef,
    #5659ef 5px,
    #6366f1 5px,
    #6366f1 13px
  );
}

.description {
  direction: rtl;
}

input[type='range'] {
  @apply h-2 bg-transparent appearance-none cursor-ew-resize;
}

/***** Chromium styles *****/
input[type='range']::-webkit-slider-runnable-track {
  @apply h-2 rounded-md bg-stone-100 dark:bg-slate-700;
}

input[type='range']::-webkit-slider-thumb {
  @apply relative w-4 h-4 bg-indigo-700 rounded-full shadow-sm appearance-none -top-1 dark:bg-indigo-300;
}

/******** Firefox styles ********/
input[type='range']::-moz-range-track {
  @apply h-2 rounded-md bg-slate-100 dark:bg-slate-700;
}

input[type='range']::-moz-range-thumb {
  @apply relative w-4 h-4 bg-indigo-700 rounded-full appearance-none -top-1 dark:bg-indigo-300;
}
